@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-700.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-900.woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
}

.page-section {
  margin: 0 0 80px 0;
}

.page-section:last-child {
  margin: 0;
}

.page-header {
  line-height: 20px;
  padding: 24px 0;
}

.header-button {
  font-size: 14px;
}

.page-header a {
  color: #2D3440;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-link {
  margin: 0 16px 0 0;
}

.navigation-list {
  max-width: 400px;
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0;
}

.navigation-link {
  padding: 8px 16px;
  display: block;
}

.navigation-user {
  margin-left: auto;
  max-width: 431px;
}

.navigation-user .navigation-link {
  padding: 0;
}

.navigation-user .navigation-item {
  margin: 0 16px 0 0;
}

.navigation-user .navigation-item:last-child {
  margin: 0;
}

.navigation-link-phone {
  font-weight: 700;
  min-width: 148px;
  min-height: 20px;
}

.navigation-link-search {
  min-width: 32px;
  min-height: 32px;
}

.navigation-link-personal-account {
  min-width: 88px;
  min-height: 32px;
}

.navigation-link-basket {
  min-width: 115px;
  min-height: 32px;
}

.main-container {
  flex-grow: 1;
}

.slider {
  color: #2D3440;
}


.slider-item {
  display: flex;
}

.slider-item-content {
  max-width: 470px;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
  font-weight: 700;
  line-height: 20px;
}

.footer .socials {
  margin: 0;
}

.socials {
  display: flex;
  max-width: 104px;
  justify-content: flex-end;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.socials-item {
  margin: 0;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
  margin-right: 16px;
}

.socials-item:nth-child(3n) {
  margin-right: 0;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0 auto 56px auto;
}


.products-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.products-bottom {
  display: flex;
  justify-content: space-between;
}

.products-text {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.products-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.advertising-blog-text {
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.advertising-blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  max-width: 303px;
  color: #2D3440;
  margin: 0;
}

.advertising-mailing-inner {
  border-radius: 16px;
  background-color: #fff;
  padding: 26px;
}

.advertising-text {
  margin: 0 0 42px 0;
}

.advertising-form {
  display: flex;
  align-items: center;
}

.advertising-input {
  margin-right: 14px;
  max-width: 332px;
}

.page-input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.page-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.advertising-button {
  max-width: 160px;
}

.page-button {
  font-family: inherit;
  border: 4px solid #F7BACA;
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  background-color: #FF2F64;
  padding: 12px 32px;
  width: 100%;
}

.delivery-form-group {
  display: flex;
  flex-direction: column;
}

.delivery-form-input-wrapper {
  display: flex;
}

.delivery-form-group-date {
  max-width: 117px;
}

.delivery-form-wrapper {
  margin-bottom: 32px;
}


.delivery-form-input-wrapper .delivery-form-group {
  margin-right: 16px;
}

.delivery-form-input-wrapper .delivery-form-group:last-child{
  margin-right: 0;
}

.delivery-form-button {
  margin: 0 auto;
  max-width: 152px;
  display: block;
}

.delivery-form-input-title {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 8px;

}

.contacts-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.footer {
  color: #2D3440;
}

.footer-list-wrapper {
  display: flex;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 24px;
  max-width: 356px;
  flex-wrap: wrap;
}

.footer-list:last-child {
  margin: 0;
}

.footer-item-link {
  font-size: 14px;
  line-height: 20px;

}

.footer-item-text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-text a {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  text-decoration: none;
}

.footer-item-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 57px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs-list a {
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.page-title-catalog {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.catalog-form {
  margin-bottom: 95px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;

}

.catalog-form-button {
  font-weight: 700;
  color: #2D3440;
}

.pagination {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
}

.pagination-link {
  color: #2D3440;
  text-decoration: none;
}

.catalog-button-more {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.section-title-gifts {
  max-width: 434px;
  /* margin: 0 auto; */
  text-align: center;
}

.gifts {
  color: #2D3440;
}

.gifts-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.gifts-item {
  padding: 36px;
  max-width: 570px;
  width: 100%;
  background-color: #FF7799;
  margin-right: 30px;
  border-radius: 16px;
}

.gifts-item:last-child {
  margin: 0;
}

.gifts-text {
  max-width: 328px;
}

.gifts-item-one {
  background-image: url('../images/gift-1.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.gifts-item-twoo {
  background-image: url('../images/gift-2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.products-list {
  display: grid;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 90px 30px;
}

.section-title-products {
  max-width: 527px;
  margin-bottom: 107px;
  text-align: center;
}

.products-title {
  color: #2D3440;
}

.products-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 40px 24px 40px;

}

.products-img {
  display: block;
  margin: -51px auto 16px auto;
  border-radius: 50%;
  width: 168px;
  height: 168px;
  object-fit: cover;
}



.info {
  padding: 24px;
  background-image: url(../images/wafer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.info-inner {
  padding: 56px 40px;
  background-color: #fff;
}

.section-title-info {
  max-width: 995px;
  /* margin: 0 auto; */
  text-align: center;
}

.info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-item {
  max-width: 506px;
}

.advertising-list {
  padding: 1px;
  display: flex;
  justify-content: space-between;
}

.advertising-item {
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 50%;
  margin-right: 30px;
}

.advertising-item:last-child {
  margin-right: 0;
}

.advertising-blog {
  padding: 32px 32px 67px 32px;
  background-image: url(../images/advertising-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
}

.advertising-mailing-list {
  padding: 6px;
  background-image: url(../images/advertising-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #EDF1F5;
}

.delivery {
  background-color: #F2F1F2;
  background-image: url(../images/delivery-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 64px 64px 64px 100px;
  border-radius: 16px;
}

.section-title-delivery {
  max-width: 356px;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-text {
  max-width: 371px;
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
}

.delivery-text:last-child {
  margin: 0;
}

.delivery-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-content {
  max-width: 371px;
}


.delivery-form {
  background-color: #FCFCFC;
  max-width: 500px;
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
}

.contacts {
  padding: 64px;
  background-color: #E8DDDB;
  background-image: url(../images/contacts-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-info {
  padding: 40px;
  background-color: #FCFCFC;
  max-width: 343px;
  border-radius: 8px;
}

.contacts-button {
  max-width: 258px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 12px;
}

.contacts-link {
  display: block;
  margin-bottom: 24px;
}

.contacts-link:last-child {
  margin: 0;
}

.contacts-info-content {
  margin-bottom: 32px;
}

.contacts-link-work-time {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 41px 0;
}

.pagination-wrapper::before {
  content: '';
}

.catalog-button-more {
  border: 1px solid #FACBD8;
  border-radius: 26px;
  padding: 12px 32px;
  max-width: 187px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #fff;
}
