@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-400.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-700.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter-900.woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
}

.page-section {
  margin: 0 0 80px 0;
}

.page-section:last-child {
  margin: 0;
}

.page-header {
  line-height: 20px;
  padding: 24px 0;
}

.page-header a {
  color: #2D3440;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-link {
  margin: 0 16px 0 0;
}

.navigation-list {
  max-width: 400px;
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0;
}

.header-link {
  border-radius: 30px;
  padding: 8px 16px;
  display: block;
  transition: background-color 300ms ease-out;
}


.header-link:hover{
  background-color: rgba(252, 252, 252, 0.5);
}

.header-link:focus {
  outline: 2px solid #2D3440;
  outline-offset: 0;
  background-color: rgba(252, 252, 252, 0.5);
}

.header-link:active {
  outline: none;
  background-color: #FFFFFF;
}

.navigation-link.navigation-link-active {
  background: #FF4A78;
  color: #FCFCFC;
}

.navigation-user {
  margin-left: auto;
  max-width: 431px;
}

.navigation-user .navigation-link {
  padding: 0;
}

.navigation-user .navigation-item {
  margin: 0 16px 0 0;
}

.navigation-user .navigation-item:last-child {
  margin: 0;
}

.navigation-link-phone {
  font-weight: 700;
  min-width: 148px;
  min-height: 20px;
}

.navigation-link-search {
  min-width: 32px;
  min-height: 32px;
}

.navigation-link-personal-account {
  min-width: 88px;
  min-height: 32px;
}

.navigation-link-basket {
  min-width: 115px;
  min-height: 32px;
}

.navigation-user .header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  padding: 8px 16px;
  border: none;
  border-radius: 27px;
  font-size: 14px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.header-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header-button:focus {
  outline: 2px solid #2D3440;
  outline-offset: 0;
  background-color: rgba(252, 252, 252, 0.5);
}

.header-button:active {
  outline: none;
  background-color: #FFFFFF;
}

.header-button.header-button-active {
  background: #FF4A78;
}

.header-button.header-button-active svg {
  fill: #FFFFFF;
}

.social-icon {
  fill: rgba(252, 252, 252, 0.3);
}

.navigation-user .navigation-link-search {
  padding: 8px;
}

.header-button-text {
  margin-left: 6px;
}

.main-container {
  flex-grow: 1;
}

.slider {
  color: #2D3440;
}


.slider-item {
  display: flex;
  align-items: center;
}

.slider-item-content {
  max-width: 470px;
  width: 100%;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-text {
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider-img-wrapper {
  position: relative;
}

.slider-img-wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  border-radius: 50%;
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  z-index: -1;
}

.slider-button {
  padding: 12px 32px;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #2D3440;
  background-color: #fff;
  border: 4px solid #FACBD8;
  border-radius: 26px;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.slider-button:focus {
  border-color: transparent;
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  outline-offset: 0;
}

.slider-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  outline: none;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.slider-button:active {
  border-color: transparent;
  background-color: #FCFCFC;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.slider-button:disabled {
  background-color: #B9B9B9;
  border: 4px solid #E8E8E8;
  border-radius: 26px;
  pointer-events: none;
}

.slider-button.slider-button-load {
  display: flex;
  align-items: center;
}

.slider-button.slider-button-load::after {
  content: '';
  margin-left: 8px;
  width: 16px;
  height: 16px;
  background-image: url('../images/load.svg');
  animation: loading-animate infinite 1s linear;
}

.footer .socials {
  margin: 0;
}

.socials {
  display: flex;
  max-width: 116px;
  justify-content: flex-end;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.socials-item {
  margin: 0;
  padding: 0;
  /* min-width: 24px;
  min-height: 24px; */
  margin-right: 14px;
}

.socials-link {
  position: relative;
  display: block;
  color: #FCFCFC;
  line-height: 0;
  transition: opacity 100ms ease-out
}

.socials-link svg {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px rgba(252, 252, 252, 0.3);
}

.socials-link::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: transparent;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: background-color 100ms ease-out
}

.socials-link:focus {
  outline: none;
}

.socials-link:focus::before {
  background-color: #2D3440;
}

.socials-link:focus svg {
  box-shadow: 0px 0px 0px 2px #2D3440;
}

.socials-link:hover::before {
  background-color: #2D3440;
}

.socials-link:active {
  opacity: .5;
}

.socials-link:active::before {
  background-color: #2D3440;
}

.socials-link:active svg {
  box-shadow: 0px 0px 0px 2px rgba(252, 252, 252, 0.3);
}

.socials-item:nth-child(3n) {
  margin-right: 0;
}


.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0 auto 56px auto;
}


.products-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.products-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-text {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.products-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.products-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #FF2F64;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 100ms ease-out;
  width: 32px;
  height: 32px;
  transition: all 100ms ease-out;
}

.products-button svg {
  fill: #FFFFFF;
  transition: fill 100ms ease-out
}

.products-button:focus {
  outline: none;
  border-color: #2D3440;
}

.products-button:hover {
  outline: none;
  border-color: #FF2F64;
  background-color: rgba(252, 252, 252, 0.3);
}

.products-button:hover svg {
  fill: #2D3440;
}

.products-button:active {
  outline: none;
  border-color: #FF2F64;
  background-color: #FFCBD8;
}

.products-button:active svg {
  fill: #2D3440;
}

.products-button:disabled svg {
  fill: #565C66;
}

.products-button:disabled {
  border-color: #B9B9B9;
  background-color: #B9B9B9;
}

.advertising-blog-text {
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.advertising-blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  max-width: 303px;
  color: #2D3440;
  margin: 0;
}

.advertising-mailing-inner {
  border-radius: 16px;
  background-color: #fff;
  padding: 26px;
}

.advertising-text {
  margin: 0 0 42px 0;
}

.advertising-form {
  display: flex;
  align-items: center;
}

.advertising-input {
  margin-right: 14px;
  max-width: 332px;
}

.page-input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  transition: all 100ms ease-out;
}

.page-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.page-input:hover {
  border-color: #2D3440;
}

.page-input:disabled {
  opacity: .5;
}

.page-input:disabled:hover {
  border-color: #B9B9B9;
  opacity: .5;
  pointer-events: none;
}

.page-input.error {
  border-color: #EA5454;
  transition: all 100ms ease-out;
}

.page-input.error:hover {
  outline: 1px solid #EA5454;
}

.advertising-button.advertising-button-load {
  display: flex;
  align-items: center;
}

.advertising-button.advertising-button-load::after {
  content: '';
  margin-left: 8px;
  width: 16px;
  height: 16px;
  background-image: url('../images/load.svg');
  animation: loading-animate infinite 1s linear;
  filter: invert(1);
}

.page-button {
  font-family: inherit;
  border: 4px solid #F7BACA;
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  background-color: #FF2F64;
  padding: 12px 32px;
  /* width: 100%; */
  transition: all 100ms ease-out;
  cursor: pointer;
  white-space: nowrap;
}

.page-button:focus {
  border-color: transparent;
  outline: 2px solid #2D3440;
  color: #FCFCFC;
  background-color: #FF2F64;
}

.page-button:hover {
  border: 4px solid #FF2F64;
  color: #2D3440;
  background-color: #FDFDFD;
}

.page-button:active {
  border-color: transparent;
  outline: 2px solid #2D3440;
  color: #fff;
  background-color: #FEAFC3;
}

.page-button:disabled {
  font-weight: 400;
  border: 4px solid #B9B9B9;
  color: #565C66;
  background-color: #B9B9B9;
  pointer-events: none;
}

.delivery-form-group {
  display: flex;
  flex-direction: column;
}

.delivery-form-input-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.delivery-form-group-date {
  max-width: 117px;
}

.delivery-form-wrapper {
  margin-bottom: 32px;
}


.delivery-form-input-wrapper .delivery-form-group {
  margin-right: 16px;
}

.delivery-form-input-wrapper .delivery-form-group:last-child{
  margin-right: 0;
}

.delivery-form-button {
  margin: 0 auto;
  /* max-width: 152px; */
  display: block;
}

.delivery-form-button.delivery-form-button-load {
  display: flex;
  align-items: center;
}

.delivery-form-button.delivery-form-button-load::after {
  content: '';
  margin-left: 8px;
  width: 16px;
  height: 16px;
  background-image: url('../images/load.svg');
  animation: loading-animate infinite 1s linear;
  filter: invert(1);
}

.delivery-form-input-title {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 8px;
  width: fit-content;
}

.tooltip-icon {
  position: relative;
}

.tooltip-icon::before {
  content: '';
  position: absolute;
  right: -18px;
  top: 3px;
  width: 13px;
  height: 13px;
  background-image: url('../images/tooltip-icon.svg');
}

.contacts-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.footer {
  color: #2D3440;
}

.footer-list-wrapper {
  display: flex;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 24px;
  max-width: 356px;
  flex-wrap: wrap;
}

.footer-list:last-child {
  margin: 0;
}

.footer-item-link {
  font-size: 14px;
  line-height: 20px;

}

.footer-item-text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer-item-text-icon-heart {
  position: relative;
}

.footer-item-text-icon-heart::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url('../images/heart-icon.svg');
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-text a {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  text-decoration: none;
}

.footer-item-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 57px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs-list a {
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::before {
  content: '';
  position: absolute;
  right: -20px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-image: url('../images/breadcrumbs-arrows-icon.svg');
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.page-title-catalog {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.catalog-form {
  margin-bottom: 95px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;

}

.catalog-form-button {
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 53px;
  font-weight: 700;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  transition: all 100ms ease-out;
}

.catalog-form-button:focus {
  background-color: #FDD5DF;
  border: 2px solid #2D3440;
  color: #2D3440;
}

.catalog-form-button:hover {
  background-color: #FCFCFC;
  border: 2px solid #FEC7D5;
  color: #2D3440;
}

.catalog-form-button:active {
  background-color: #FDD5DF;
  border: 2px solid #FDD5DF;
  color: #2D3440;
}

.catalog-form-button:disabled {
  background-color: #FDB5C7;
  border: 2px solid #FDCEDA;
  color: #AA7E8F;
}

.pagination {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
}

.pagination-link {
  color: #2D3440;
  text-decoration: none;
}

.section-title-gifts {
  max-width: 434px;
  /* margin: 0 auto; */
  text-align: center;
}

.gifts {
  color: #2D3440;
}

.gifts-button {
  border-radius: 26px;
  padding: 12px 32px;
  border: 4px solid #FB9EB5;
  font-weight: 700;
  font-size: 16px;
  color: #2D3440;
  background-color: #fff;
  cursor: pointer;
  transition: all 100ms ease-out;
}

.gifts-button:focus {
  border-color: transparent;
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  outline-offset: 0;
}

.gifts-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  outline: none;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.gifts-button:active {
  border-color: transparent;
  background-color: #FCFCFC;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.gifts-button:disabled {
  background-color: #B9B9B9;
  border: 4px solid #E8E8E8;
  border-radius: 26px;
  pointer-events: none;
}

.gifts-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.gifts-item {
  padding: 36px;
  max-width: 570px;
  width: 100%;
  background-color: #FF7799;
  margin-right: 30px;
  border-radius: 16px;
}

.gifts-item:last-child {
  margin: 0;
}

.gifts-text {
  max-width: 328px;
}

.gifts-item-one {
  background-image: url('../images/gift-1.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.gifts-item-twoo {
  background-image: url('../images/gift-2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.products-list {
  display: grid;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 90px 30px;
}

.section-title-products {
  max-width: 527px;
  margin-bottom: 107px;
  text-align: center;
}

.products-title {
  color: #2D3440;
}

.products-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 40px 24px 40px;

}

.products-img {
  display: block;
  margin: -51px auto 16px auto;
  border-radius: 50%;
  width: 168px;
  height: 168px;
  object-fit: cover;
}



.info {
  padding: 24px;
  background-image: url(../images/wafer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.info-inner {
  padding: 56px 40px;
  background-color: #fff;
}

.section-title-info {
  max-width: 995px;
  /* margin: 0 auto; */
  text-align: center;
}

.info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info-item {
  position: relative;
  max-width: 506px;
  padding-left: 64px;
}

.info-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.info-item-ice-cream::before {
  background-image: url('../images/info-icon-1.svg');
}

.info-item-cow::before {
  background-image: url('../images/info-icon-2.svg');
}

.info-item-leaf::before {
  background-image: url('../images/info-icon-3.svg');
}

.info-item-thermometer::before {
  background-image: url('../images/info-icon-4.svg');
}

.advertising-list {
  padding: 1px;
  display: flex;
  justify-content: space-between;
}

.advertising-item {
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 50%;
  margin-right: 30px;
}

.advertising-item:last-child {
  margin-right: 0;
}

.advertising-blog {
  padding: 32px 32px 67px 32px;
  background-image: url(../images/advertising-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
}

.advertising-mailing-list {
  padding: 6px;
  background-image: url(../images/advertising-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #EDF1F5;
}

.delivery {
  background-color: #F2F1F2;
  background-image: url(../images/delivery-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 64px 64px 100px;
  border-radius: 16px;
}

.section-title-delivery {
  max-width: 356px;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-text {
  max-width: 371px;
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
}

.delivery-text:last-child {
  margin: 0;
}

.delivery-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-content {
  max-width: 371px;
}


.delivery-form {
  background-color: #FCFCFC;
  max-width: 500px;
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
}

.contacts {
  padding: 64px;
  background-color: #E8DDDB;
  background-image: url(../images/contacts-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-info {
  padding: 40px;
  background-color: #FCFCFC;
  max-width: 343px;
  border-radius: 8px;
}

.contacts-button.contacts-button-load {
  display: flex;
  align-items: center;
}

.contacts-button.contacts-button-load::after {
  content: '';
  margin-left: 8px;
  width: 16px;
  height: 16px;
  background-image: url('../images/load.svg');
  animation: loading-animate infinite 1s linear;
  filter: invert(1);
}

.contacts-text {
  margin: 0;
  margin-bottom: 12px;
}

.contacts-link {
  display: block;
  margin-bottom: 24px;
}

.contacts-link:last-child {
  margin: 0;
}

.contacts-info-content {
  margin-bottom: 32px;
}

.contacts-link-work-time {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 41px 0;
}

.pagination-wrapper::before {
  content: '';
}

.catalog-button-more {
  border: 4px solid #FACBD8;
  border-radius: 26px;
  padding: 12px 32px;
  max-width: 187px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #fff;
  cursor: pointer;
  transition: all 100ms ease-out
}

.catalog-button-more:focus {
  border-color: transparent;
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  outline-offset: 0;
}

.catalog-button-more:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  outline: none;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.catalog-button-more:active {
  border-color: transparent;
  background-color: #FCFCFC;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: 2px solid #2D3440;
}

.catalog-button-more:disabled {
  opacity: .5;
  pointer-events: none;
  font-weight: 400;
}

.navigation-item-drop {
  position: relative;
}

.navigation-item-drop:hover .navigation-link-drop {
  visibility: visible;
  opacity: 1;
}

.navigation-item-drop:hover .navigation-link {
  background: #FF4A78;
  color: #FCFCFC;
}

.navigation-link-drop {
  position: absolute;
  left: 0;
  top: 40px;
  border-radius: 4px;
  background-color: #fff;
  min-width: 138px;
  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease-out;
  overflow: hidden;
}

.drop-list-text {
  position: relative;
  margin: 0 0 8px 0;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.drop-list-text::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #B9B9B9;
  transform: translate(-50%, 0);
}

.drop-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.drop-list-item {
  padding: 6px 16px;
}

.drop-list-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  transition: all 100ms ease-out;
}

.drop-list-item:hover {
  background-color: #FFCBD8;
}

.drop-list-item:active {
  background-color: #FF7799;
}


@keyframes loading-animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-animate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
 }
